<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="false">
    <testsuites>
        <testsuite name="Tests">
            <directory>./src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../module/Application/src/</directory>
            <directory>../module/Common/src/</directory>
            <exclude>
                <directory>../module/Application/src/Application/Fixture</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="./coverage" charset="UTF-8"
           highlight="false" lowUpperBound="60" highLowerBound="80"/>
    </logging>
</phpunit>
